@font-face {
    font-family: Raleway-Light;
    src: url('../font/raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../font/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../font/raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../font/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../font/raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-Italic;
    src: url('../font/raleway/Raleway-Italic.ttf');
}
