body {
    font-family: 'Raleway-Regular', Arial;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    width: 100%;
}

strong, b, h1, h3, h2 { font-family: Raleway-Bold; font-weight: normal; }
h3 { font-size: 25px; }
i { font-family: Raleway-Italic; }

.text-right{ text-align: right; }
.text-center{ text-align: center; }
.no-bg{ background: none!important; }
.color-brown { color: $brown-logo!important; }
.color-grey { color: #333333; }
.color-orange { color: #ff5242; }
.full-width { width: 100%!important; }
.font-light { font-family: Raleway-Light; }
.font-bold { font-family: Raleway-Bold; }
.uppercase { text-transform: uppercase; }
.line-brown { border-bottom: 1px solid $brown-logo!important; }

.size10{ font-size: 10px; }
.size11{ font-size: 11px; }
.size12{ font-size: 12px; }
.size13{ font-size: 13px; }
.size14{ font-size: 14px; }
.size15{ font-size: 15px; }
.size16{ font-size: 16px; }
.size17{ font-size: 17px; }
.size18{ font-size: 18px; }
.size20{ font-size: 20px; }
.size21{ font-size: 21px; }
.size22{ font-size: 22px; }
.size23{ font-size: 23px; }
.size24{ font-size: 24px; }
.size25{ font-size: 25px; }
.size26{ font-size: 26px; }
.size30{ font-size: 30px; }
.size32{ font-size: 32px; }
.size36{ font-size: 36px; }
.size40{ font-size: 40px; }
.size48{ font-size: 48px; }
.size50{ font-size: 50px; }
.size60{ font-size: 60px; }
.size72{ font-size: 72px; }
.size90{ font-size: 90px; }

.spacing3{ letter-spacing: 3px; }
.spacing5{ letter-spacing: 5px; }
.spacing6{ letter-spacing: 6px; }

.mt0{ margin-top:0; }
.mt5{ margin-top:5px; }
.mt10{ margin-top:10px; }
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt25{ margin-top: 25px;}
.mt30{ margin-top: 30px;}
.mt40{ margin-top: 40px;}
.mt45{ margin-top: 45px;}
.mt50{ margin-top: 50px;}
.mt60{ margin-top: 60px;}
.mt75{ margin-top: 75px;}
.mt80{ margin-top: 80px;}
.mt120{ margin-top: 120px;}

.mb0{ margin-bottom:0; }
.mb10{ margin-bottom:10px; }
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.mb25{ margin-bottom: 25px;}
.mb30{ margin-bottom: 30px;}
.mb40{ margin-bottom: 40px;}
.mb45{ margin-bottom: 45px;}
.mb50{ margin-bottom: 50px;}
.mb60{ margin-bottom: 60px;}
.mb75{ margin-bottom: 75px;}
.mb80{ margin-bottom: 80px;}
.mb120{ margin-bottom: 120px;}

.pt0{ padding-top:0; }
.pt5{ padding-top:5px; }
.pt10{ padding-top:10px; }
.pt15{ padding-top: 15px;}
.pt30{ padding-top: 30px;}
.pt40{ padding-top: 40px;}
.pt45{ padding-top: 45px;}
.pt50{ padding-top: 50px;}
.pt60{ padding-top: 60px;}
.pt75{ padding-top: 75px;}
.pt80{ padding-top: 80px;}
.pt120{ padding-top: 120px;}

.pb0{ padding-bottom:0; }
.pb10{ padding-bottom:10px; }
.pb15{ padding-bottom: 15px;}
.pb30{ padding-bottom: 30px;}
.pb40{ padding-bottom: 40px;}
.pb45{ padding-bottom: 45px;}
.pb50{ padding-bottom: 50px;}
.pb60{ padding-bottom: 60px;}
.pb75{ padding-bottom: 75px;}
.pb80{ padding-bottom: 80px;}
.pb120{ padding-bottom: 120px;}

.width100{ width: 100%;}

.pb100{ padding-bottom: 100px; }
.p0 { padding: 0!important }

.white-col {
    background: #ffffff;
}

img {
    max-width: 100%;

    &.inline {
        display: inline-block;
    }
}

a { 
    color: #000000; 
    text-decoration: none; 

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

p { 
    font-family: Raleway-Regular;
    font-size: 16px;
    letter-spacing: 0;
    // line-height: 34px;
    margin-bottom: 0; 
    margin-bottom: 15px;
}

h1 {
    font-family: Raleway-Bold;
    color: #000000;

    &.section-title {
        font-size: 22px;
        letter-spacing: 16px;
        line-height: 27px;

        &.small-title {
            font-size: 16px;
            letter-spacing: 8px;
            line-height: 19px;
        }
    }
}

input {
    &:focus,&:active,&:hover {
        box-shadow: none!important;
    }
}

.btn {
    width: 140px;
    color: #FFFFFF;
    background: #ff5342;
    font-family: Raleway-Bold;
    padding: 8px;
    text-align: center;
    border: none;

    &:active,&:focus,&:hover {
        color: #FFFFFF;
        background: #ff5342;
        font-family: Raleway-Bold;
    }
    
    &.btn-border {
        border: 2px solid #D91B5C;
        text-align: center;
        width: 170px;
        padding: 15px 0;
        color: #D91B5C;
        font-family: Raleway-SemiBold;
    }
}

.button {
    
}

.main {
    @include device(mobile) {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
}

.bottles-bg {
    position: absolute;
    width: 30%;
    top: 0;
    z-index: 1;    

    img {
        max-width: 100%;
    }

    &.left {
        left: 0;

        @include device(tablet-l) {
            left: -100px;
        }

        @include device(phablet) {
            display: none;
        }
    }

    &.right {
        right: 0;

        @include device(tablet-l) {
            right: -31px;
        }

        @include device(phablet) {
            display: none;
        }
    }

    &.top {
        width: 75%;
        top: -29%;
    }
}

.container {
    @include device(phablet) {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.relative {
    position: relative;
}